@media screen and (min-width: 1201px)
{
	.homer{
		width: 166.5px height: 125px background:url(images/homer.jpg) 0 0px;
	}
}

@media screen and (max-width: 1200px) and (min-width: 1101px)
{
	.homer{
		width: 166.5px height: 125px background:url(images/homer.jpg) 166.5px 0px;
	}
}

@media screen and (max-width: 1100px) and ( min-width: 1001px)
{
	.homer{
		width: 166.5px height: 125px background:url(images/homer.jpg) 0 -125px;
	}
}

@media screen and (max-width: 1000px) and (min-width: 901px)
{
	.homer{
		width: 166.5px height: 125px background:url(images/homer.jpg) 166.5px -125px;
	}
}

@media screen and (max-width: 900px) and (min-width: 801px)
{
	.homer{
		width: 166.5px height: 125px background:url(images/homer.jpg) 0 -250px;
	}
}

@media screen and (max-width: 800px) and (min-width: 701px)
{
	.homer{
		width: 166.5px height: 125px background:url(images/homer.jpg) 166.5px -250px;
	}
}

@media screen and (max-width: 700px) and (min-width: 601px)
{
	.homer{
		width: 166.5px height: 125px background:url(images/homer.jpg) 0 -375px;
	}
}

@media screen and (max-width: 600px)
{
	.homer{
		width: 166.5px height: 125px background:url(images/homer.jpg) 166.5px -375px;
	}
}